<mat-toolbar color="primary" class="app-navbar">
    <a mat-button routerLink="/home">
        <mat-icon svgIcon="simkung"></mat-icon>
        <span class="header-title">Simkung (심쿵)</span>
    </a>
    <div class="bracket-button">
        <a mat-raised-button color="accent" routerLink="/bracket">Start Bracket</a>
    </div>
    <div class="nav-tools">
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/developer-tools">Developer Tools</a>
    </div>
    <span class="menu-spacer"></span>
    <a mat-button href="https://github.com/kloklee88/bracket-website" target="_blank">
        <mat-icon>code</mat-icon>Github
    </a>
    <a mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_box</mat-icon>Account
    </a>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/auth">Log In</button>
        <button mat-menu-item routerLink="/auth">Sign Up</button>
    </mat-menu>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center" class="filler">
</div>