<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/home">
        <!-- <mat-icon>favorite</mat-icon> -->
        <mat-icon svgIcon="simkung"></mat-icon>
    </button>
    <a mat-button routerLink="/home">
        <h1 class="header-title">Simkung (심쿵)</h1>
    </a>
    <div class="bracket-button">
        <a mat-raised-button color="accent" routerLink="/bracket">Start Bracket</a>
    </div>
    <div class="nav-tools">
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/developer-tools">Developer Tools</a>
    </div>
    <span class="menu-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_box</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Log In</button>
        <button mat-menu-item>Sign Up</button>
    </mat-menu>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center">
    <a href="#" mat-button routerLink="/">
        <!-- <img style="height: 120px" src="/assets/img/miai_logo_375_200.png"> -->
    </a>
</div>