.header-title {
    font-family: "Georgia",serif;
    margin-left: 5px;
    font-weight: 500;
}
.nav-tools {
    margin-left: 100px; 
}
.bracket-button {
    margin-left: 20px;
}
.menu-spacer {
    flex: 1 1 auto;
}