<div fxFill fxLayout='column' fxLayoutGap='10px' class='main-container'>
    <span></span>
    <div fxLayout='row' fxLayoutAlign='center'>
        <h1>About</h1>
    </div>
    <div fxLayout='row' fxLayoutAlign='center'>
        <figure>
            <img src='assets/img/simkung_logo_purple.png' height="250px" width="auto">
            <figcaption style='text-align: center; font-style: italic;'>Brackets are life, brackets are love!
            </figcaption>
        </figure>
    </div>
    <div fxLayout='row' fxLayoutAlign='center'>
        <p style='width: 600px;'>This application is to have some fun and determine your favorite song, group, or anything in a randomnly generated tournament bracket. </p>
    </div>
    <div fxLayout='row' fxLayoutAlign='center'>
        <p style='width: 600px;'> You will be first be given options on what data, bracket size, and group filters to start off your bracket. Afterwards, you then are given rounds of head to head choices. You continue until you get to the winner!</p>
    </div>
    <div fxLayout='row' fxLayoutAlign='center'>
        <p style='width: 600px;'>Click on "Start Bracket" to get started!</p>
    </div>
</div>