<div fxFill fxLayout='column' class='main-container'>
    <div fxLayout='row' fxLayoutAlign='center'>
        <h1>About</h1>
    </div>
    <div fxLayout='row' fxLayoutAlign='center'>
        <p style='width: 600px;'>심쿵 (simkung) is like a type of emotional heart attack you feel when you see or think about your crush or someone you find extremely attractive! Remember it by knowing that 심장 (simjang) means “heart” and 쿵쿵 (kungkung) is the “thud” or “booming” sound your heartbeat makes! </p>
    </div>
</div>
