<div fxFill fxLayout='column' fxLayoutGap='10px' class='main-container'>
    <span></span>
    <div fxLayout='row' fxLayoutAlign='center'>
        <h1>About</h1>
    </div>
    <div fxLayout='row' fxLayoutAlign='center'>
        <p style='width: 600px;'>The developer was bored and wanted to make something with Angular. This website is the product! Hopefully you enjoy your stay! </p>
    </div>
    <div fxLayout='row' fxLayoutAlign='center'>
        <p style='width: 600px;'>Lacus vestibulum sed arcu non odio euismod lacinia at. Sodales ut etiam sit amet nisl purus in. In tellus integer feugiat scelerisque. Ut porttitor leo a diam. Neque volutpat ac tincidunt vitae semper quis. Sit amet est placerat in egestas. Tellus molestie nunc non blandit massa. Sed felis eget velit aliquet sagittis id consectetur purus. Lacinia at quis risus sed vulputate odio. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero. </p>
    </div>
    <div fxLayout='row' fxLayoutAlign='center'>
        <p style='width: 600px;'> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et. Vel facilisis volutpat est velit egestas dui id ornare arcu. Quam pellentesque nec nam aliquam sem et tortor. Nunc sed velit dignissim sodales ut.</p>
    </div>
    <div fxLayout='row' fxLayoutAlign='center'>
        <p style='width: 600px;'>Click on "Start Bracket" to get started!</p>
    </div>
</div>