<div fxLayout='column' class='main-container' style="text-align:center;">
    <h1 mat-title>Authentication</h1>
    <form>
        <!-- <p style="color:red;"
            *ngIf="submitted && (!bracketDataFormControl.valid ||!bracketSizeFormControl.valid || !groupFormControl.valid)">
            Please
            complete the required form fields</p> -->
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email" name="email" required placeholder="Ex. kevin@example.com">
                <button mat-icon-button matSuffix></button>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="loginOrSignup()">{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
            <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="onSwitchMode()" cdkFocusInitial>Switch to
                {{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
        </div>
    </form>
</div>