.mat-column-id {
    max-width: 40px;
}

.mat-column-title,
.mat-column-userId,
.mat-form-field{
    width: calc(100% - 15px);
}

.demo-button-container {
    padding-bottom: 16px;
}
  
.demo-button + .demo-button {
    margin-left: 8px;
}