<div class="bracket-container" *ngIf="fullBracket.length > 0">
    <h1 class="bracket-title">{{bracketTitle}}</h1>
    <main>
        <ul class="round" *ngFor="let round of fullBracket, let i = index">
            <li class="spacer" style="text-align: center;">Round {{i+1}}</li>
            <ng-container *ngFor="let game of round, let j = index, let even = even">
                <ng-container *ngIf="even">
                    <li class="game game-top winner">
                        {{round[j].name}}<span>({{round[j].group}})</span>
                    </li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom">{{round[j+1].name}}
                        <span>({{round[j+1].group}})</span></li>
                    <li class="spacer">&nbsp;</li>
                </ng-container>
            </ng-container>
        </ul>
    </main>
</div>