<div fxLayout='column' class='main-container'>
    <div class='bracket-title' *ngIf="choice1 && choice2 && bracketOptions">
        <span>{{bracketTitle}} ({{counter}}/{{bracketOptions.length/2}})</span>
    </div>
    <div fxLayout='row' fxLayoutAlign='center' fxLayoutGap='10px' *ngIf="choice1 && choice2 && bracketOptions">
        <mat-card fxFlex='35%' class='choice' (click)='selectBracketOption(choice1, 1)' [@state1]='state1'>
            <mat-card-title>{{choice1.name}} ({{choice1.group}})</mat-card-title>
            <img class='img-choice' src='{{choice1.imageUrl}}'>
        </mat-card>
        <div class='vs'>VS</div>
        <mat-card fxFlex='35%' class='choice' (click)='selectBracketOption(choice2, 2)' [@state2]='state2'>
            <mat-card-title>{{choice2.name}} ({{choice2.group}})</mat-card-title>
            <img class='img-choice' src='{{choice2.imageUrl}}'>
        </mat-card>
    </div>
</div>