<div fxFill fxLayout='column' class='bracketMain'>
    <div fxLayout='row' fxFlex='5' fxLayoutAlign='center'>
        <h1 class='bracketTitle'>{{bracketTitle}}</h1>
    </div>
    <div class='choices' fxFlex fxLayout='row' fxLayoutAlign='center' fxLayoutGap='10px'>
        <mat-card fxFlex='30' class='choice' (click)='selectBracketOption(choice1)'>
            <span>{{choice1.name}}</span>
            <br><br>
            <img src='{{choice1.imageUrl}}' width = '500' height = '800'>
        </mat-card>
        <mat-card fxFlex='30' class='choice' (click)='selectBracketOption(choice2)'>
            <span>{{choice2.name}}</span>
            <br><br>
            <img src='{{choice2.imageUrl}}' width = '500' height = '800'>
        </mat-card>
    </div>
</div>
