/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mainContainer {
    background-color: #222222;
    color: white;
}
.choice {
    font-size: 32px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
.mat-option.mat-selected:not(.mat-option-disabled) {
    color: white !important;
}
.mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: white !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: white !important;
}