<body class="docs-app-background">
    <header class="docs-header-background">
        <div class="docs-header-section">
            <div class="docs-header-headline">
                <h1 class="mat-h1">Simkung</h1>
                <h2>Lovable bracket game for your favorite stuff!</h2>
            </div>
            <a mat-raised-button color="accent" routerLink="/bracket">Get Started</a>
        </div>
    </header>
    <main class="main-home" fxLayout="column" fxLayoutAlign="center">
        <div fxLayoutAlign='center'>
            <figure>
                <img src='assets/img/simkung_logo_purple.png' height="250px" width="auto">
                <figcaption style='text-align: center; font-style: italic;'>Brackets are life, brackets are love!
                </figcaption>
            </figure>
        </div>
        <div fxLayoutAlign='center'>
            <p style='width: 600px;'>Simkung (심쿵) is like a type of emotional heart attack you feel when you see or
                think
                about your crush or someone you find extremely attractive! Remember it by knowing that 심장 (simjang)
                means
                “heart” and 쿵쿵 (kungkung) is the “thud” or “booming” sound your heartbeat makes! </p>
        </div>
        <div fxLayoutAlign='center'>
            <p style='width: 600px;'>This is a bracketing app designed for determining your favorite kpop girl member.
                In
                later versions, the developers will make this a full-fledged bracketing application.</p>
        </div>
    </main>
    <footer fxLayout='row' fxLayoutAlign='center'>
        <p style='text-align: center; width: 600px;'>Copyright 2020</p>
    </footer>
</body>