<body class="docs-app-background">
    <header class="docs-header-background">
        <div class="docs-header-section">
            <div class="docs-header-headline">
                <h1 class="mat-h1">Simkung</h1>
                <h2>Lovable bracket game for your favorite stuff!</h2>
            </div>
            <a mat-raised-button color="accent" routerLink="/bracket">Get Started</a>
        </div>
    </header>
    <main class="main-home">
        <div fxLayout="row" fxLayoutAlign="center" class="home-div">
            <div>
                <figure>
                    <img src="assets/img/simkung_logo_purple.png" height="250px" width="auto">
                </figure>
            </div>
            <div fxLayout="column" class="home-div-text">
                <h2>Brackets are life, brackets are love!</h2>
                <p class="home-paragraph">Simkung (심쿵) is like a type of emotional heart attack you feel when you see or
                    think
                    about your crush or someone you find extremely attractive! Remember it by knowing that 심장 (simjang)
                    means
                    “heart” and 쿵쿵 (kungkung) is the “thud” or “booming” sound your heartbeat makes! </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" class="home-div">
            <div fxLayout="column" class="home-div-text">
                <h2>How it works</h2>
                <p class="home-paragraph">You will be first be given options on what data, bracket size, and group filters to start off your bracket. Afterwards, you then are given rounds of head to head choices. You continue until you get to the winner!</p>
            </div>
            <div>
                <figure>
                    <img src="assets/img/simkung_logo_purple.png" height="250px" width="auto">
                </figure>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" class="home-div">
            <div>
                <figure>
                    <img src="assets/img/simkung_logo_purple.png" height="250px" width="auto">
                </figure>
            </div>
            <div fxLayout="column" class="home-div-text">
                <h2>Find the things you love!</h2>
                <p class="home-paragraph">Who or what will be the ultimate winner of your bracket? Find out now!</p>
            </div>
        </div>
    </main>
</body>