.docs-header-background {
    background-color: #9c27b0;
}
.docs-header-section {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}
.docs-header-headline {
    color: white;
}
.docs-app-background {
    background: #303030;
    overflow-y: auto;
    color: white;
}
.main-home {
    text-align: center;
}
.mat-h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
}
.home-div {
    margin-top: 35px;
    margin-bottom: 35px;
}
.home-div-text {
    line-height: 1.5;
    flex-direction: column;
    justify-content: center;
    text-align: left !important;
}
.home-paragraph {
    width: 600px;
}
html, body {
    height: auto !important;
}

